<div class="item" data-index="1">
    <a href="/dtdd/samsung-galaxy-note-20-ultra-5g-trang" class=" vertion2020 large" data-s="0">
        <div class="heightlabel">
            
        </div>
        <img width="180" height="180" src=https://cdn.tgdd.vn/Products/Images/42/230867/samsung-galaxy-note-20-ultra-5g-trang-600x600-2-400x400.jpg class="lazy" alt="Samsung Galaxy Note 20 Ultra 5G Trắng" />
        <label class="preorder">Đặt trước đến 07/12</label>
            <h3>Samsung Galaxy Note 20 Ultra 5G Trắng</h3>
                    <div class="props">
        </div>


                        <div class="price">
                    <strong>32.990.000₫</strong>
            </div>
                        <div class="promo noimage">
                <p>Tặng ngay 6 triệu, Thu cũ đổi mới, Trả góp 0%</p>
            </div>
        
            <img src=https://cdn.tgdd.vn/ValueIcons/1/Label_01-05.png class="icon-imgNew cate42 lazy left">
        <input class="spInfo" data-brand="Samsung" data-cat="Điện thoại" data-code="0131491002346" data-price="32990000" data-pro="3" data-version="" id="data230867" name="data230867" type="hidden" value="230867" />
    </a>
            </div>
            <div class="item" data-index="2">
    <a href="/dtdd/iphone-12-128gb" class=" vertion2020 large" data-s="0">
        <div class="heightlabel">
            <label class="installment">Trả góp <b>0%</b></label>
        </div>
        <img width="180" height="180" src=https://cdn.tgdd.vn/Products/Images/42/228736/iphone-12-128gb-195820-105824-400x400.jpg class="lazy" alt="iPhone 12 128GB" />
        <aside class="result-label temp2"><img src="https://cdn.tgdd.vn/2020/10/content/icon2-50x50.png" class="lazy imgresult"><span class="text">THU CŨ ĐỔI MỚI</span></aside>
            <h3>iPhone 12 128GB</h3>
          
                    <div class="props">
        </div>


                        <div class="price">
                    <strong>25.990.000₫</strong>
                    <span>26.990.000₫</span>
            </div>
                        <div class="promo noimage">
                <p>Giảm thêm <b>1.000.000₫</b></p>
            </div>
        
        <input class="spInfo" data-brand="iPhone (Apple)" data-cat="Điện thoại" data-code="0131491002276" data-price="26990000" data-pro="3" data-version="" id="data228736" name="data228736" type="hidden" value="228736" />
    </a>
            </div>
            <div class="item" data-index="3">
    <a href="/dtdd/samsung-galaxy-m51" class=" vertion2020 large" data-s="0">
        <div class="heightlabel">
            <label class="installment">Trả góp <b>0.5%</b></label>
        </div>
        <img width="180" height="180" src=https://cdn.tgdd.vn/Products/Images/42/217536/samsung-galaxy-m51-white-600x600-400x400.jpg class="lazy" alt="Samsung Galaxy M51" />
        <aside class="result-label temp2"><img src="https://cdn.tgdd.vn/2020/10/content/icon2-50x50.png" class="lazy imgresult"><span class="text">THU CŨ ĐỔI MỚI</span></aside>
            <h3>Samsung Galaxy M51</h3>
                    <div class="props">
        </div>


                        <div class="price">
                    <strong>8.990.000₫</strong>
                    <span>9.490.000₫</span>
                        <i>-5%</i>
            </div>
                                <div class="ratingresult">
                    <i class="icontgdd-ystar"></i>
                    <i class="icontgdd-ystar"></i>
                    <i class="icontgdd-ystar"></i>
                    <i class="icontgdd-ystar"></i>
                            <i class="icontgdd-gstar"></i>
            <span>130 đánh giá</span>
        </div>

            <img src=https://cdn.tgdd.vn/ValueIcons/1/Label_01-05.png class="icon-imgNew cate42 lazy left">
        <input class="spInfo" data-brand="Samsung" data-cat="Điện thoại" data-code="0131491002255" data-price="9490000" data-pro="3" data-version="" id="data217536" name="data217536" type="hidden" value="217536" />
    </a>
            </div>
            <div class="item" data-index="4">
    <a href="/dtdd/realme-c15" class=" vertion2020 large" data-s="0">
        <div class="heightlabel">
            <label class="installment">Trả góp <b>0%</b></label>
        </div>
        <img width="180" height="180" src=https://cdn.tgdd.vn/Products/Images/42/226226/realme-c15-600-400x400.jpg class="lazy" alt="Realme C15" />
        
            <h3>Realme C15</h3>
                    <div class="props">
        </div>


                        <div class="price">
                    <strong>4.190.000₫</strong>
            </div>
                        <div class="promo noimage">
                <p>Quà <b>299.000₫</b></p>
            </div>
                    <div class="ratingresult">
                    <i class="icontgdd-ystar"></i>
                    <i class="icontgdd-ystar"></i>
                    <i class="icontgdd-ystar"></i>
                    <i class="icontgdd-ystar"></i>
                            <i class="icontgdd-gstar"></i>
            <span>40 đánh giá</span>
        </div>

        <input class="spInfo" data-brand="Realme" data-cat="Điện thoại" data-code="0131491002340" data-price="4190000" data-pro="3" data-version="" id="data226226" name="data226226" type="hidden" value="226226" />
    </a>
            </div>
            <div class="item" data-index="5">
    <a href="/dtdd/xiaomi-redmi-note-9" class=" vertion2020 large" data-s="0">
        <div class="heightlabel">
            <label class="installment">Trả góp <b>0%</b></label>
        </div>
        <img width="180" height="180" src=https://cdn.tgdd.vn/Products/Images/42/214925/xiaomi-redmi-note-9-den-600x600-400x400.jpg class="lazy" alt="Xiaomi Redmi Note 9" />
        
            <h3>Xiaomi Redmi Note 9</h3>
                    <div class="props">
        </div>


                        <div class="price">
                    <strong>4.790.000₫</strong>
                    <span>4.990.000₫</span>
            </div>
                                <div class="ratingresult">
                    <i class="icontgdd-ystar"></i>
                    <i class="icontgdd-ystar"></i>
                    <i class="icontgdd-ystar"></i>
                            <i class="icontgdd-hstar"></i>
                        <i class="icontgdd-gstar"></i>
            <span>96 đánh giá</span>
        </div>

            <img src=https://cdn.tgdd.vn/ValueIcons/1/Label_01-02.png class="icon-imgNew cate42 lazy left">
        <input class="spInfo" data-brand="Xiaomi" data-cat="Điện thoại" data-code="0131491002196" data-price="4990000" data-pro="3" data-version="" id="data214925" name="data214925" type="hidden" value="214925" />
    </a>
            </div>
